Django==1.4.2
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.18
celery==3.0.12
distribute==0.6.28
dj-database-url==0.2.1
django-celery==3.0.11
ipython==0.13
kombu==2.4.8
psycopg2==2.4.5
python-dateutil==1.5
pytz==2012h
readline==6.2.2
requests==0.14.1
wsgiref==0.1.2
xmltodict==0.2
