<!DOCTYPE html>
<html>
  <head>
    <title>GlueFun</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}components/bootstrap/bootstrap/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="{{ STATIC_URL }}components/bootstrap/bootstrap/css/bootstrap-responsive.min.css"
          rel="stylesheet">
    <link href="{{ STATIC_URL }}style/base.css" rel="stylesheet" />
  </head>
  <body>
    <section class="container">
      {% block content %}{% endblock %}
    </section>
    <footer class="container">
    </footer>
    <script src="{{ STATIC_URL }}components/jquery/jquery.js"></script>
    <script src="{{ STATIC_URL }}components/bootstrap/bootstrap/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
